<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:theme="@style/Theme.ProjectUASAplikasiKursusOnline"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <!-- LOGIN SEBAGAI LAUNCHER -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- HOME ACTIVITY (ADA FRAGMENT DI DALAMNYA) -->
        <activity android:name=".HomeActivity" android:exported="true"/>

        <!-- ACTIVITY LAINNYA -->
        <activity android:name=".CourseDetailActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".FinishActivity" />

    </application>
</manifest>
